@font-face {
	font-family: "Titillum";
	src: url("font/TitilliumWeb-Regular.ttf");
}

p {
	color: #ffffff;
	font-family: "Titillum";
	font-size: 20px;
}

a {
	color: #c7af6f;
	transition: filter 50ms ease-out 50ms
}

a:hover{
	filter: brightness(1.5);
}

a:active{
	filter: brightness(2000);
}

a.home:hover{
	filter: none;
}

body {
	background-color: #2f55bb;
	background-image: url("img/background.gif");
	background-repeat: no-repeat;
	image-rendering: crisp-edges;
	background-size: cover;
}

.main {
	background-color: #201541;
	max-width: 960px;
	margin: auto;
	margin-top: 0px;
	padding-bottom:	32px;
}

.pad {
	padding-right: 	96px;
	padding-left: 	96px;
}

.pad_less {
	padding-right: 	16px;
	padding-left: 	16px;
}

img.stuff {
	background-color: #3c3d5e;
	display: block;
}

h1 {
	color: #ffffff;
	font-family: "Titillum";
	font-size: 30px;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.float_left {
	padding-top: 0px;
	padding-left: 8px;
	padding-right: 8px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.line {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 16px;
	padding-bottom: 16px;
}

.big_img {
	display: block;
	margin-top: 16px;
	margin-bottom: 16px;
	margin-left: auto;
	margin-right: auto;
	width: 768px;
}

.center_img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.row {
	background-color: #201541;
}

.column1 {
	float: left;
	width: 35%;
}

.column2 {
	float: right;
	width: 65%;
	margin-right: 24px;
	margin-left: -24px;
}